*.[oa]
*.deps
*.so
*.la
*.lo
*.so.*
*.3
*.rpm
*.pc
Makefile
Makefile.in
include/config.h
include/config.h.in
include/stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.libs
m4
libtool
compile
ltmain.sh
libqb-*
lib/run_splint.sh
.version
.tarball-version
libqb.spec
