*.[oa]
*.deps
*.so
*.la
*.lo
*.so.*
*.3
*.rpm
*.swp
*.pc
*.log
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.status
configure
.libs

# since we use subdir-objects as automake option
.dirstamp

# ignore "libtoolized" m4 files, but keep our (custom-prefixed) ones
/m4/*
!/m4/ax_*.m4

# build-aux/release.mk related litter
/.tarball-version
/tag-*

libtool
.version
libqb.spec
libqb-*
cov
compat_reports
abi_dumps
TAGS
*~
test-driver

/tests/**/*.real
/tests/**/*.trs
/tests/functional/**/log_client
/tests/functional/**/log_interlib_client
/tests/functional/_pkgs
/tests/functional/_results
