*.[oa]
*.deps
*.so
*.la
*.lo
*.so.*
*.3
*.rpm
*.pc
*.log
Makefile
Makefile.in
include/config.*
include/qb/qbconfig.h
include/stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.libs
m4
libtool
compile
ltmain.sh
libqb-*
lib/run_splint.sh
.version
.tarball-version
libqb.spec
include/qb/stamp-h2
cov
compat_reports
abi_dumps